# ---------- Flutter / Dart ----------
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
build/
*.log
coverage/

# ---------- IDE ----------
.idea/
*.iml
.vscode/

# ---------- Android ----------
android/.gradle/
android/app/build/
android/build/
android/local.properties
android/key.properties
android/app/upload-keystore.jks

# ---------- iOS ----------
ios/Pods/
ios/.symlinks/
ios/Flutter/ephemeral/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/DerivedData/
**/*.xcuserstate

# ---------- Firmas y secretos (NO subir nunca) ----------
**/*.keystore
**/*.jks
*.mobileprovision
*.p8
*.p12
